* { box-sizing: border-box; }

body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

iframe.cross,
iframe.naught,
img.cross,
img.naught {
  border: none;
  left: 25%;
  opacity: 0.8;
  position: absolute;
  top: 25%;
  transition: opacity 1s ease-in-out;
}

iframe.cross.fade-out,
iframe.naught.fade-out,
img.cross.fade-out,
img.naught.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.board {
  background-image: url('assets/images/blackboard.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  /*width: 100%;*/
  width: 300px;
}

.board .cell:empty.cross:before {
  content: 'X';
}

.board .cell:empty.cross:before,
.board .cell:empty.naught:before {
  display: block;
  font-size: 72px;
  text-align: center;
}

.board .cell:empty.naught:before {
  content: 'O';
}

.cell {
  /*background-color: white;*/
  display: inline-block;
  height: 100px;
  position: relative;
  width: 100px;
}

.cell + .cell {
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  -webkit-mask-image: url("assets/images/chalk.png");
  mask-image: url("assets/images/chalk.png");
}

.chalk {
  -webkit-mask-image: url("assets/images/chalk.png");
  mask-image: url("assets/images/chalk.png");
}

.controls {
  display: flex;
  justify-content: space-around;
}

.controls button {
  border: 1px solid black;
  padding: 5px 0;
  width: 80px;
}

.container {
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: space-around;
  }
}

.cross {
  color: deeppink;
}

.hidden {
  display: none;
}

.naught {
  color: cyan;
}

.row {
  display: flex;
}

.row:first-child .cell,
.row:nth-child(2) .cell {
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  -webkit-mask-image: url("assets/images/chalk.png");
  mask-image: url("assets/images/chalk.png");
}

.scoreboard,
.scoreboard table {
  margin: 0 auto;
  text-align: center;
}

.scoreboard table {
  margin-bottom: 20px;
}

.tie {
  color: mediumspringgreen;
}

.wins td,
.wins th {
  padding: 5px;
  text-align: center;
  width: 75px;
}

.wins th {
  border-bottom: 1px solid white;
}

.wins td + td {
  border-left: 1px solid white;
}
